include README.md
include README_PYPI.md
include LICENSE
include pyproject.toml
include requirements.txt
recursive-include geomoz/data/*.md
recursive-include geomoz/utils/*.py
recursive-exclude *.pyc
recursive-exclude __pycache__
recursive-exclude .git*
recursive-exclude data/*.gpkg
recursive-exclude *.gpkg
recursive-exclude tests/*
recursive-exclude *_old.py
recursive-exclude *_new.py
recursive-exclude build/*
recursive-exclude dist/*
recursive-exclude *.egg-info
recursive-exclude __pycache__
